$app-red: #DC2121;
$app-yellow: #FFDF36;
$app-blue: #3648EC;
$app-green: #43B241;
$app-white: #F2F2F2;
$app-black: #222222;
$app-darkergray: #D3D3D3;
$app-lightergray: #EFEFEF;

//colors with some transparency for bg chat bubbles
$app-red-bg: #dc2121aa;
$app-yellow-bg: #FFDF36aa;
$app-blue-bg: #3648ECaa;
$app-green-bg: #43B241aa;

.chatContainer {
    width: 30vw;
    height: 70vh;
    font-family: 'Inter', sans-serif;
    border: 1px solid $app-black;    
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $app-white;
}

.chatMessageContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 35px;
}

.chatHeading {
    text-align: center;
    margin: 0;
    padding: 15px;
    background-color: $app-darkergray;
    color: $app-black;
}

.chatInput {
    position: absolute;
    bottom: 0px;
    left: 5px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 60%;
    background-color: $app-lightergray;
    color: $app-black;
}

.sendChatBtn {
    background-color: $app-green;  
    color: $app-white; 
    width: 30%;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    cursor: pointer;
}

.sendChatBtn:hover {
    background-color: #296928;
}

.chatUserMe, .chatUserOther {
    max-width: 60%;
    padding: 3px;
    margin: 5px;
    padding: 10px;
    border-radius: 30px 30px 0px 30px;
}

.chatUserMe {
    border-radius: 30px 30px 0px 30px;
    align-self: flex-end;
}

.chatUserOther { 
    border-radius: 30px 30px 30px 0px;
    align-self: flex-start;
}

.chatUserRed {
    background-color: $app-red-bg;
}

.chatUserBlue {
    background-color: $app-blue-bg;
}

.chatUserGreen {
    background-color: $app-green-bg;
}

.chatUserYellow {
    background-color: $app-yellow-bg;
}
