@import './normalize', './chat';

#app{
  display: flex;
  justify-content: space-around;
  //flex-direction: column;
}


/*----------------------------------------------------------------------------------------------------------
-----------------------  HEADER AND FOOTER -----------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/


h1 {
  font-size: 10rem;
  display: inline-block;
  margin: 0px;
  color: #F2F2F2;
  padding-left: 45px;
  padding-top: 25px;
  text-shadow: 4px 4px #DC2121;
  font-family: 'Inter', sans-serif;
}

.headerDiv{
  display:flex;
  justify-content:space-between;
  background-color: #43B241;

}

.headerImg {
  width: 250px;
  height: 250px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #d3d3d3;
  padding: 2em;

  button.startBtn {
    background-color: #efefef;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    padding: 0.8em 3em;
    margin-bottom: 1em;
    cursor: pointer;
  }

  .ruleContainer {
    background-color: #dfdede;
    width: 20em;
    padding: 1em;

    h2, p {
      text-align: center;
    }

    ul {
      margin: 0;

      li {
        list-style-type: none;
        line-height: 20px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }

    div.divider {
      border-top: 2px solid #222222;
      width: 80%;
      margin: 1.5em;
    }
  }
}

.countdownContainer {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  font-family: 'Inter', sans-serif;
  min-height: 23em;
  padding: 2em;

  .innerContainer {
    background-color: #dfdede;
    min-height: 20em;
    padding: 1em;
  }

  progress {
    padding: 0.8em;
  }

  p {
    text-align: center;
  }

  button.finishBtn {
    background-color: #efefef;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    padding: 0.5em 3em;
    margin-bottom: 1em;
    cursor: pointer;
  }
}

.footer{
  font-size:larger;
  background-color: #43B241;
  display:flex;
  justify-content:end;
  color: #F2F2F2;
  text-shadow: 1px 1px #DC2121;
  font-family: 'Inter', sans-serif;
}

.footerP{
  margin-right:15px;
}


/*-------------------------------------------------------------------------------------------------------------
--------------------- LOGIN AND NAME & COLORDIV ---------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/

.userContainer{
  background-color: #E8E8E8;
  display: flex;
  justify-content: end;
  font-family: 'Inter', sans-serif;
}

.loginParts{
  margin: 15px;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: #D9D9D9;
  color:#222222;
  padding:5px;
}

.loginText{
  margin: 15px;
  font-size: 1.5rem;
  color:#222222;
  font-family: 'Inter', sans-serif;
}

.showColorDiv{
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-radius: 5px; 
  display: flex;
  position: relative;
  top:20px;
  margin-right: 20px;
}

.showColorDivName{
  font-size: 1.3rem;
  padding-left: 100px;
  padding-right: 15px;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




.gridContainer {
  display: grid;
  width: 320px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px;
  border: 2px solid #222222;
  background-color: #E8E8E8;

  .pixel {
    width: 20px;
    height: 20px;

    &:hover {
      border: 2px solid #222222;
      cursor: pointer;
    }
  }
}

/*-------------------------------------------------------------------------------------------------------------
------------------------------------ ADMIN PAGE ---------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------*/

.admin__section {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.admin__colorSelectorDiv {
  display: flex;
  flex-direction: column;
}

.admin__changeColorBtn {
  width: 80px;
  height: 80px;
  border-radius: 0.5rem;
  border: #222222 solid 2px;
  margin: 1rem;
}

.admin__saveBtn {
  
}
